
.icon-group:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-users1:before { content: '\e803'; } /* '' */
.icon-service:before { content: '\e804'; } /* '' */
.icon-users-outline:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-travel2:before { content: '\e807'; } /* '' */
.icon-users-1:before { content: '\e80a'; } /* '' */
.icon-instagram_dark:before { content: '\e8a1'; } /* '' */
.icon-lifebuoy:before { content: '\f1cd'; } /* '' */
.icon-ship:before { content: '\f21a'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */