
.icon-instagram-1:before { content: '\f05d'; } /* '' */
.icon-instagram-2:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */