
.icon-group:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-archive:before { content: '\e803'; } /* '' */
.icon-users-1:before { content: '\e80a'; } /* '' */
.icon-globe-1:before { content: '\e880'; } /* '' */